In [90]:
from sportsreference.nhl.teams import Teams
from sportsreference.nhl.schedule import Schedule
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
from sqlalchemy import create_engine
import pymysql

teams = Teams(2022)

In [91]:
def convert_attend(series):
    for dex in range(len(series)):
        series[dex] = series[dex].replace(",", "")
    return series

In [92]:
def get_team_df(team_id):
    # Create an URL object
    url = 'https://www.hockey-reference.com/teams/' + team_id + '/2022_games.html'
    # Create object page
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')
    #print(soup)

    table1 = soup.find('table', id='games')

    table_body = table1.find('tbody')
    #print(table_body)
    rows = table_body.find_all('tr')

    data = []

    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols]) # Get rid of empty values
    
    df = pd.DataFrame.from_records(data)
    df.columns = ["Date", "Time", "Location", "Opponent", "Goals For", "Goals Against", "Result", "Periods", "W", "L", "OL", "Streak", "Attendance", "LOG", "Notes"]
    df["Attendance"] = convert_attend(df["Attendance"])
    return df

In [93]:
for team in teams:
    code = team.abbreviation
    df = get_team_df(code)
    sqlEngine = create_engine('mysql+pymysql://nithin:letsgopens71@127.0.0.1:3306/attendance', pool_recycle=3600)
    dbConnection = sqlEngine.connect()
    df.to_sql(code, dbConnection, if_exists='fail')
    dbConnection.close()

ValueError: Table 'FLA' already exists.

In [60]:
df.dtypes

Date             object
Time             object
Location         object
Opponent         object
Goals For        object
Goals Against    object
Result           object
Periods          object
W                object
L                object
OL               object
Streak           object
Attendance       object
LOG              object
Notes            object
dtype: object

In [61]:
df

,Date,Time,Location,Opponent,Goals For,Goals Against,Result,Periods,W,L,OL,Streak,Attendance,LOG,Notes
0,2021-10-13,7:00 PM,@,Toronto Maple Leafs,1,2,L,,0,1,0,L 1,"18,493",2:33,
1,2021-10-14,7:00 PM,@,Buffalo Sabres,1,5,L,,0,2,0,L 2,"8,467",2:26,
2,2021-10-16,7:00 PM,,New York Rangers,1,3,L,,0,3,0,L 3,"21,105",2:30,
3,2021-10-19,7:00 PM,,San Jose Sharks,0,5,L,,0,4,0,L 4,"16,095",2:19,
4,2021-10-21,7:00 PM,,Carolina Hurricanes,1,4,L,,0,5,0,L 5,"19,174",2:29,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2022-04-21,7:00 PM,,Philadelphia Flyers,3,6,L,,20,47,11,L 7,"21,105",2:30,
78,2022-04-23,7:00 PM,@,Ottawa Senators,4,6,L,,20,48,11,L 8,"19,410",2:37,
79,2022-04-24,7:00 PM,,Boston Bruins,3,5,L,,20,49,11,L 9,"21,105",2:33,
80,2022-04-27,7:30 PM,@,New York Rangers,4,3,W,,21,49,11,W 1,"16,845",2:23,
81,2022-04-29,7:00 PM,,Florida Panthers,10,2,W,,22,49,11,W 2,"21,105",2:28,